<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%; /* Assure que la page occupe toute la hauteur */
        }
    </style>
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">

<!-- Header -->
{% include 'partials/header.html.twig' %}

<!-- Main Content -->
<main class="flex-grow container mx-auto p-4">
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->
{% include 'partials/footer.html.twig' %}

</body>
</html>
